[Desktop Entry]
Type=Application
Version=1.1.4
Name=Clevit
Comment=The only smart text editor in this galaxy!
Path=/usr/bin/Clevit
Exec=Clevit
Icon=Clevit
Terminal=false
Categories=Office;
Name=Clevit
GenericName=The only smart text editor in this galaxy!
